.daily-card{
	width: 150px;
	height: 400px;
}

.daily-card-img{
	height: 180px;
}

.daily-saled-text{
	text-decoration: line-through;
}
.our-product-card{
	width: 97px;
	margin-right: 3px;
}
.our-product-img{
    width: 100%;
}

.new-poduct-card{
	height: auto;
	width: auto;
}
.new-product-card-img{
	width: 100%;
}

.footer-row1{
	background-color: #ffdd76;
}

.footer-row2{
	background-color: #ffc002;
}

.home-slide-button1:hover{
	color: #ffc107; 
	background-color: #343a40;
}

@media (max-width: 992px) {
  .home-carousel-image {
    height: 424px;
  }
}

.home-carousel{
	height: 560px;
}

@media only screen and (min-width: 992px) {
  .home-carousel-image3{	
    top: -120px;
    position: absolute;
	}
}

.prod-img{
	width: 166px;
}

	